<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @comment.nickname %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @comment.is_public %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Company:</strong>
  <%= @comment.company %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
