<h1>企業一覧</h1>
<!-- <%= debug @companies[0] %>
<%= debug @companies[0].scale %> -->
<!-- <%= debug @companies[1].market %> -->
<ul>
    <% @companies[0..100].each do |company| %>

    <li><%= company.code %>,<%= company.name %>,
      <%= company.market["market"] unless company.market.nil? %>,
      <%= company.category17["category17"] unless company.category17.nil? %>,
      <%= company.category33["category33"] unless company.category33.nil? %>,
      <%= company.scale["scale"] unless company.scale.nil? %>
    </li>
    <% end %>
</ul>
