<h1><%= @company.name %></h1>

<%= @company.code %>,
<%= @company.name %>,
<%= @company.market["market"] unless @company.market.nil? %>,
<%= @company.category17["category17"] unless @company.category17.nil? %>,
<%= @company.category33["category33"] unless @company.category33.nil? %>,
<%= @company.scale["scale"] unless @company.scale.nil? %>

<h2>コメント</h2>
<ul>
<% @company.comments.each do |comment| %>
<li>
    <%= comment.nickname unless comment.nickname.nil? %>,
    <%= comment.comment unless comment.comment.nil? %>,
    <%= comment.user.email unless comment.user.nil? %>
    <%= comment.company.name unless comment.company.nil? %>
    <%= #link_to "[Delete]", company_comment_path(comment.company_id, comment.id), method: :delete, data: { confirm: "are you sure?" }
     %>
</li>
<% end %>
</ul>
